/* comentarios */
/* Las tipografias van al princio del archivo style.css */
/* Reset */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Grid Areas */
#gridAreas{
    display: grid;
    grid-template-areas:
    /* Fila 1 */    
    "encabezado"
    /* Fila 2 */
    "menu"
    /* Fila 3 */
    "principal"
    /* Fila 4 */
    "pie";
    grid-template-columns: 100%;
}
/* Nombre Areas */
header{
    grid-area: encabezado;
}
nav{
    grid-area: menu;
    text-align: end;
}
main{
    grid-area: principal;
}
footer{
    grid-area: pie;
}

/* Box Model */
/* Estilos al Body */
body{ 
    font-family: 'Lato', sans-serif;
    /* Light 300 italic */
    background-color: rgb(252, 170, 241);
}
/* Estilos al Header */
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(94, 212, 248);
}
.sectionHeaderUno{
    text-align: center;
    align-self: center;
}
.sectionHeaderDos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    padding-top: 0.5%;
    padding-right: 0.5%;
}
.sectionHeaderTres{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 60%;
    padding-bottom: 5%;
}
h1{
    color: rgb(185, 8, 255);
    font-size: 40px;
}
/* Estilos al Nav */
nav{
    background-color: rgb(205, 75, 245);
    border-top:groove 2px black;
    border-bottom:groove 2px black;
}
nav section{
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
span{
    padding: 1%;
    font-size: 20px;
}
span a{
    font-weight: 900;
}
span:hover{
    background-color: rgb(94, 212, 248);
}
span a:hover{
    color: rgb(248, 0, 215);
}
/* Estilos al Main */
.mainIndex{
    display: flex;
    justify-content: space-between;
}
.sectionMainUno{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 1%;
}
.suscribirse{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-left: 20%;
    padding: 1%;
}
section input{
    padding: 1%;
    margin: 1%;
}
.sectionMainDos{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 10%;
    height: 70%;
}
.sectionMainTres{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 1%;
    margin-top: 1%;
}
/* Estilos al Footer */
footer{
    display: flex;
    justify-content: space-between;
    background-color:rgb(94, 212, 248);
    height: 50vh;
}
footer h2{
    font-size: 25px;
    color: rgb(185, 8, 255);
}
footer p{
    font-size: 20px;
    font-weight: 800;
}
.sectionFooterUno{
    margin-top: 1%;
    margin-left: 1%;
    width: 33%;
}
.sectionFooterDos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.sectionFooterTres{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 33%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.tituloUbicacion{
    text-align: center;
    margin-left: 15%;
}
.alineacionDatos{
    font-weight: 700;
    padding-top: 1%;
    padding-bottom: 1%;
}
/* Clases */
/* Clases Generales */
/* Texto Centrado */
.textoCentrado{
    text-align: center;
}
/* Texto Justificado */
.textoJustificado{
    text-align: justify;
}
/* Texto Derecha */
.textoDerecha{
    text-align: end;
}
/* Texto Izquierda */
.textoIzquierda{
    text-align: start;
}
/* Clases Index.html */
/* Logo */
.logo{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}
.logoImagen{
    border: groove 2px rgb(185, 8, 255);
}
/* Alineacion Ir Abajo */
.irAbajo{
    color: rgb(185, 8, 255)
}
/* Borde Imagenes */
.bordeImagen{
    border: solid 2px rgb(94, 212, 248);
}
/* Alineacion Buscador */
.buscador{
    margin-top: 1%;
    margin-bottom: 5%;
    border-color: rgb(252, 170, 241);
}
/* Alineacion Imagen Izquierda */
.alineacionImagenIzquierda{
    margin-top: 10%;
    margin-left: 5%;
    border: solid 2px rgb(94, 212, 248);
}
/* Alineacion Parrafo Izquierdo */
.alineacionParrafoIzquierdo{
    margin-left: 5%;
    font-size: 18px;
    font-weight: 600;
}
/* Alineacion Imagen Princiapal */
.alineacionImagenPrincipal{
    margin-top: 10%;
    margin-bottom: 10%;
    border: solid 4px rgb(94, 212, 248);
}
/* Alineacion Imagen Derecha */
.alineacionImagenDerecha{
    margin-top: 10%;
    margin-right: 5%;
    border: solid 2px rgb(94, 212, 248);
}
/* Alineacion Parafo Derecho */
.alineacionParrafoDerecho{
    margin-right: 1%;
    font-size: 18px;
    font-weight: 600;
}
/* Alineacion Suscripcion */
.tituloSuscribirse{
    margin-top: 60%;
    margin-left: 4%;
}
.alineacionSuscripcion{
    display: block;
    text-align: center;
    margin-left: 20%;
    margin-top: 1%;
    border-color: rgb(94, 212, 248);
}
/* Alineacion Botones Suscripcion */
.alineacionBotonSuscripcion{
    border-color: rgb(94, 212, 248);
    margin-top: 1%;
    padding: 0.5%
}
.alineacionBotonBorrar{
    border-color: rgb(94, 212, 248);
    margin-left: 5%;
    margin-top: 2%;
    padding: 0.5%;
}
/* Mapa y Titulo */
.ubicacionTitulo{
    margin-left: 3%;
}
.mapa{
    margin-left: 3%;
    margin-top: 3%;
    border-color: rgb(252, 170, 241);
}
/* Alineacion Redes Sociales */
.alineacionRedes{
    margin-bottom: 1%;
    padding-bottom: 1%;
    font-size: 20px;
}
/* Alineacion Facebook */
.alineacionFacebook{
    margin-left: 25%;
    font-size: 18px;
}
/* Alineacion Instagram */
.alineacionInstagram{
    margin-left: 24%;
    font-size: 18px;
}
/* Alineacion Email */
.alineacionEmail{
    margin-left: 37%;
    font-size: 18px;
}
/* Alineacion Ir Arriba */
.irArriba{
    color: rgb(185, 8, 255);
}
/* Clases Contacto.html */
/* Tamaño Título */
.textoGrande{
    font-size: 50px;
    margin-top: 0.5%;
}
/* Alineacion Formulario */
.sectionFormularioUno{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionFormularioDos{
    width: 100%;
}
/* Alineacion Comentario */
.alineacionFormulario{
    margin-top: 5%;
    border-color: rgb(94, 212, 248);
    width: 100%;

}
/* Alineacion botones formulario */
.alineacionEnviar{
    border-color: rgb(94, 212, 248);
    padding: 3%;
    margin-top: 5%;
}
.alineacionBorrar{
    border-color: rgb(94, 212, 248);
    padding: 3%;
}
/* Clases Tarifas.html */
/* Titulo */
.titulo{
    margin-top: 1%;
    font-size: 35px;
}
/* Section Tarifas */
.sectionTarifas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Alineacion Servicios */
.servicios{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 20px;
    font-weight: 700;
}
/* Alineacion Tarifa */
.tarifa{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 20px;
    font-weight: 700;
}
/* Clases Galeria.html */
/* Main Galeria */
.mainGaleria{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* Sections Galeria */
.sectionGaleriaUno{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionGaleriaDos{
    display: flex;
    justify-content: center;
}
.sectionGaleriaTres{
    display: flex;
    justify-content: center;
}
.sectionGaleriaCuatro{
    display: flex;
    justify-content: center;
}
.sectionGaleriaCinco{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionGaleriaSeis{
    display: flex;
    justify-content: center;
}
/* Titulo */
.titulo{
    font-size: 50px;
}
/* Borde Imagenes */
.borde{
    border: solid 3px rgb(94, 212, 248);
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 0.5%;
}
/* Parrafo Imagenes */
.parrafo{
    font-size: 30px;
    font-weight: 600;
}
/* Clases Servicios.html */
/* Titulo Servicios */
.tituloservicio{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 1%;
}
/* Servicio */
.sectionServicios{
    display: flex;
    justify-content: center;
}
.servicio{
    margin-left: 0.5%;
    margin-top: 1%;
    font-size: 30px;
}
/* Descripcion */
.descripcion{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.2%;
    font-size: 20px;
}
/* Imagen con resultado final */
.articleServicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen{
    margin-top: 0.2%;
    margin-bottom: 1%;
    border: solid 3px rgb(94, 212, 248);
}




/* Media Queries */
/* Desktop */
@media (min-width: 1024px) {
    /* Box Model */
/* Estilos al Header */
    header{
        display: flex;
        justify-content: space-between;
        background-color: rgb(94, 212, 248);
    }
    .sectionHeaderUno{
        text-align: center;
        align-self: center;
    }
    .sectionHeaderDos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: end;
        padding-top: 0.5%;
        padding-right: 0.5%;
    }
    .sectionHeaderTres{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        width: 60%;
        padding-bottom: 5%;
    }
    h1{
        color: rgb(185, 8, 255);
        font-size: 40px;
    }
    /* Estilos al Nav */
    nav{
        background-color: rgb(205, 75, 245);
        border-top:groove 2px black;
        border-bottom:groove 2px black;
    }
    nav section{
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
    span{
        padding: 1%;
        font-size: 20px;
    }
    span a{
        font-weight: 900;
    }
    /* Estilos al Main */
    .mainIndex{
        display: flex;
        justify-content: space-between;
    }
    .sectionMainUno{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 1%;
        margin-left: 1%;
    }
    .suscribirse{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        margin-left: 20%;
        padding: 1%;
    }
    section input{
        padding: 1%;
        margin: 1%;
    }
    .sectionMainDos{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 10%;
        height: 70%;
    }
    .sectionMainTres{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 1%;
        margin-top: 1%;
    }
    /* Estilos al Footer */
    footer{
        display: flex;
        justify-content: space-between;
        background-color:rgb(94, 212, 248);
        height: 50vh;
    }
    footer h2{
        font-size: 25px;
        color: rgb(185, 8, 255);
    }
    footer p{
        font-size: 20px;
        font-weight: 800;
    }
    .sectionFooterUno{
        margin-top: 1%;
        margin-left: 1%;
        width: 33%;
    }
    .sectionFooterDos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 33%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .sectionFooterTres{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        width: 33%;
        margin-right: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .tituloUbicacion{
        text-align: center;
        margin-left: 15%;
    }
    .alineacionDatos{
        font-weight: 700;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    /* Clases */
    /* Clases Generales */
    /* Texto Centrado */
    .textoCentrado{
        text-align: center;
    }
    /* Texto Justificado */
    .textoJustificado{
        text-align: justify;
    }
    /* Texto Derecha */
    .textoDerecha{
        text-align: end;
    }
    /* Texto Izquierda */
    .textoIzquierda{
        text-align: start;
    }
    /* Clases Index.html */
    /* Logo */
    .logo{
        padding-top: 1%;
        padding-left: 1%;
        padding-bottom: 1%;
    }
    .logoImagen{
        border: groove 2px rgb(185, 8, 255);
    }
    /* Alineacion Ir Abajo */
    .irAbajo{
        color: rgb(185, 8, 255)
    }
    /* Borde Imagenes */
    .bordeImagen{
        border: solid 2px rgb(94, 212, 248);
    }
    /* Alineacion Buscador */
    .buscador{
        margin-top: 1%;
        margin-bottom: 5%;
        border-color: rgb(252, 170, 241);
    }   
    /* Alineacion Imagen Izquierda */
    .alineacionImagenIzquierda{
        margin-top: 10%;
        margin-left: 5%;
        border: solid 2px rgb(94, 212, 248);
    }
    /* Alineacion Parrafo Izquierdo */
    .alineacionParrafoIzquierdo{
        margin-left: 5%;
        font-size: 18px;
        font-weight: 600;
    }
    /* Alineacion Imagen Princiapal */
    .alineacionImagenPrincipal{
        margin-top: 10%;
        margin-bottom: 10%;
        border: solid 4px rgb(94, 212, 248);
    }
    /* Alineacion Imagen Derecha */
    .alineacionImagenDerecha{
        margin-top: 10%;
        margin-right: 5%;
        border: solid 2px rgb(94, 212, 248);
    }
    /* Alineacion Parafo Derecho */
    .alineacionParrafoDerecho{
        margin-right: 1%;
        font-size: 18px;
        font-weight: 600;
    }
    /* Alineacion Suscripcion */
    .tituloSuscribirse{
        margin-top: 60%;
        margin-left: 4%;
    }
    .alineacionSuscripcion{
        display: block;
        text-align: center;
        margin-left: 20%;
        margin-top: 1%;
        border-color: rgb(94, 212, 248);
    }
    /* Alineacion Botones Suscripcion */
    .alineacionBotonSuscripcion{
        border-color: rgb(94, 212, 248);
        margin-top: 1%;
        padding: 0.5%
    }
    .alineacionBotonBorrar{
        border-color: rgb(94, 212, 248);
        margin-left: 5%;
        margin-top: 2%;
        padding: 0.5%;
    }
    /* Mapa y Titulo */
    .ubicacionTitulo{
        margin-left: 3%;
    }
    .mapa{
        margin-left: 3%;
        margin-top: 3%;
        border-color: rgb(252, 170, 241);
    }
    /* Alineacion Redes Sociales */
    .alineacionRedes{
        margin-bottom: 1%;
        padding-bottom: 1%;
        font-size: 20px;
    }
    /* Alineacion Facebook */
    .alineacionFacebook{
        margin-left: 25%;
        font-size: 18px;
    }
    /* Alineacion Instagram */
    .alineacionInstagram{
        margin-left: 24%;
        font-size: 18px;
    }
    /* Alineacion Email */
    .alineacionEmail{
        margin-left: 37%;
        font-size: 18px;
    }
    /* Alineacion Ir Arriba */
    .irArriba{
        color: rgb(185, 8, 255);
    }
    /* Clases Contacto.html */
    /* Tamaño Título */
    .textoGrande{
        font-size: 50px;
        margin-top: 0.5%;
    }
    /* Alineacion Formulario */
    .sectionFormularioUno{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionFormularioDos{
        width: 100%;
    }
    /* Alineacion Comentario */
    .alineacionFormulario{
        margin-top: 5%;
        border-color: rgb(94, 212, 248);
        width: 100%;
    }
    /* Alineacion botones formulario */
    .alineacionEnviar{
        border-color: rgb(94, 212, 248);
        padding: 3%;
        margin-top: 5%;
    }
    .alineacionBorrar{
        border-color: rgb(94, 212, 248);
        padding: 3%;
    }
    /* Clases Tarifas.html */
    /* Titulo */
    .sectionTarifas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo{
        margin-top: 1%;
        font-size: 35px;
    }
    /* Alineacion Servicios */
    .servicios{
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 20px;
        font-weight: 700;
    }
    /* Alineacion Tarifa */
    .tarifa{
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: 20px;
        font-weight: 700;
    }
    /* Clases Galeria */
    /* Titulo */
    .mainGaleria{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sectionGaleriaUno{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sectionGaleriaDos{
        display: flex;
        justify-content: center;
    }
    .sectionGaleriaTres{
        display: flex;
        justify-content: center;
    }
    .sectionGaleriaCuatro{
        display: flex;
        justify-content: center;
    }
    .sectionGaleriaCinco{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sectionGaleriaSeis{
        display: flex;
        justify-content: center;
    }
    .titulo{
        font-size: 50px;
    }
    /* Borde Imagenes */
    .borde{
        border: solid 3px rgb(94, 212, 248);
        margin-left: 3%;
        margin-top: 1%;
        margin-bottom: 0.5%;
    }
    /* Parrafo Imagenes */
    .parrafo{
        font-size: 30px;
        font-weight: 600;
    }
    /* Clases Servicios */
    /* Titulo Servicios */
    .sectionServicios{
        display: flex;
        justify-content: center;
    }
    .tituloservicio{
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        margin-top: 1%;
    /* Servicio */
    }
    .servicio{
        margin-left: 0.5%;
        margin-top: 1%;
        font-size: 30px;
    }
    /* Descripcion */
    .descripcion{
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 0.2%;
        font-size: 20px;
    }
    /* Imagen con resultado final */
    .articleServicios{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imagen{
        margin-top: 0.2%;
        margin-bottom: 1%;
        border: solid 3px rgb(94, 212, 248);
    }
    /* Flex */
    /* Footer */
        .ubicacion{
            display: flex;
            flex-direction: column;
            width: 33%;
            padding-top: 1%;
        }
    .ubicacionDatos{
        display: flex;
    }
    .redesSociales{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 33%;
    }
    .footerMedio{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
    }
    .tituloUno{
        margin-bottom: 10%;
    }
    .tituloDos{
        margin-top: 10%;
    }
}




/* Tablet */
@media (min-width: 481px) and (max-width: 1023px) {
    body{
        width: 100%;
    }
    .responsiveTablet{
        display: none;
    }
    header {
        display: flex;
    }
    .logoImagen{
        border: solid 1px rgb(185, 8, 255);
    }
    h1{
        color: rgb(185, 8, 255);
        font-size: 40px;
    }
    /* Estilos al Nav */
    nav{
        background-color: rgb(205, 75, 245);
        border-top:groove 2px black;
        border-bottom:groove 2px black;
    }
    nav section{
        display: flex;
        margin-top: 0.2%;
        align-items: center;
    }
    span{
        padding: 1%;
        font-size: 20px;
    }
    span a{
        font-weight: 900;
    }
    /* Estilos al Main */
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionMainUno{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1%;
    }
    .suscribirse{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        padding: 1%;
    }
    section input{
        padding: 0%;
        margin: 0%;
    }
    .sectionMainDos{
        display: flex;
        justify-content: center;
    }
    .sectionMainTres{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tamañoImagen{
        width: 80%;
    }
    .sectionMainUno{
        order: 1;
    }
    /* Alineacion Imagen Izquierda */
    .alineacionImagenIzquierda{
        border: solid 2px rgb(94, 212, 248);
    }
    /* Alineacion Parrafo Izquierdo */
    .alineacionParrafoIzquierdo{
        font-size: 18px;
        font-weight: 600;
    }
    /* Alineacion Imagen Princiapal */
        .alineacionImagenPrincipal{
        border: solid 4px rgb(94, 212, 248);
    }
    /* Alineacion Imagen Derecha */
        .alineacionImagenDerecha{
        border: solid 2px rgb(94, 212, 248);
    }
    /* Alineacion Parafo Derecho */
        .alineacionParrafoDerecho{
        font-size: 18px;
        font-weight: 600;
    }
    /* Estilos al Footer */
    footer{
        display: flex;
        background-color:rgb(94, 212, 248);
        height: 110vh;
    }
    footer h2{
        font-size: 25px;
        color: rgb(185, 8, 255);
    }
    footer p{
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }
    .tituloUbicacion{
        margin-left: 0%;
    }
    .sectionFooterUno{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 33%
    }
    .sectionFooterDos{
        display: flex;
        flex-direction: column;
        width: 33%;
    }
    .sectionFooterTres{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 33%;
    }
    .alineacionDatos{
        font-weight: 700;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    /* Clases a Contacto.html */
    .textoGrande{
        font-size: 50px;
        margin-top: 0.5%;
    }
    /* Alineacion Formulario */
    .mainContacto{
        display: flex
    }
    .sectionFormularioUno{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    /* Alineacion botones formulario */
    .alineacionEnviar{
        border-color: rgb(94, 212, 248);
        padding: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .alineacionBorrar{
        border-color: rgb(94, 212, 248);
        padding: 3%;
        margin-bottom: 5%;
    }
    /* Clases Galeria */
    /* Titulo */
    .mainGaleria{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .sectionGaleriaUno{
        display: flex;
        flex-direction: column;
    }
    .sectionGaleriaDos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionGaleriaTres{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionGaleriaCuatro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionGaleriaCinco{
        display: flex;
        flex-direction: column;
    }
    .sectionGaleriaSeis{
        display: flex;
        flex-direction: column;
        align-items:center;
        }
    .titulo{
        font-size: 50px;
    }
    /* Borde Imagenes */
    .borde{
        border: solid 3px rgb(94, 212, 248);
        margin-top: 1%;
        margin-bottom: 0.5%;
        margin-left: 0%;
        width: 95%
    }
    /* Parrafo Imagenes */
    .parrafo{
        font-size: 30px;
        font-weight: 600;
    }
}




/* Mobile */
@media (max-width: 480px) {
    #gridAreas {
        display: grid;
        grid-template-areas:
        /* Fila 1 */    
        "encabezado"
        /* Fila 2 */
        "menu"
        /* Fila 3 */
        "principal"
        /* Fila 4 */
        "pie";
        grid-template-columns: 100%;
    }
    body {
        width: 100%;
    }
    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .logo {
        padding: 0%;
    }
    .logoImagen{
        border: solid 1px rgb(185, 8, 255);
        width: 90%;
        margin-left: 5%;
        margin-top: 1%;
    }
    .responsiveMobile{
        display: none;
    }
    h1{
        color: rgb(185, 8, 255);
        font-size: 40px;
    }
    /* Estilos al Nav */
    nav{
        background-color: rgb(205, 75, 245);
        border-top:groove 2px black;
        border-bottom:groove 2px black;
    }
    nav section{
        display: flex;
        flex-direction: column;
        margin-top: 0.2%;
        align-items: center;
    }
    span{
        padding: 1%;
        font-size: 20px;
    }
    span a{
        font-weight: 900;
    }
    /* Estilos al Main */
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sectionMainUno{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1%;
    }
    .suscribirse{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        padding: 1%;
    }
    section input{
        padding: 0%;
        margin: 0%;
    }
    .sectionMainDos{
        display: flex;
        justify-content: center;
    }
    .sectionMainTres{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tamañoImagen{
        width: 80%;
    }
    .sectionMainUno{
        order: 1;
    }
    /* Alineacion Imagen Izquierda */
    .alineacionImagenIzquierda{
        border: solid 2px rgb(94, 212, 248);
    }
    /* Alineacion Parrafo Izquierdo */
    .alineacionParrafoIzquierdo{
        font-size: 18px;
        font-weight: 600;
    }
    /* Alineacion Imagen Princiapal */
        .alineacionImagenPrincipal{
        border: solid 4px rgb(94, 212, 248);
    }
    /* Alineacion Imagen Derecha */
        .alineacionImagenDerecha{
        border: solid 2px rgb(94, 212, 248);
    }
    /* Alineacion Parafo Derecho */
        .alineacionParrafoDerecho{
        font-size: 18px;
        font-weight: 600;
    }
    /* Estilos al Footer */
    footer{
        display: flex;
        flex-direction: column;
        background-color:rgb(94, 212, 248);
        height: 103vh;
    }
    footer h2{
        font-size: 25px;
        color: rgb(185, 8, 255);
    }
    footer p{
        font-size: 20px;
        font-weight: 800;
    }
    .tituloUbicacion{
        margin-left: 0%;
    }
    .sectionFooterUno{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%
    }
    .sectionFooterDos{
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 1;
    }
    .sectionFooterTres{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .alineacionDatos{
        font-weight: 700;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    /* Clases a Contacto.html */
    .textoGrande{
        font-size: 50px;
        margin-top: 0.5%;
    }
    /* Alineacion Formulario */
    .mainContacto{
        display: flex
    }
    .sectionFormularioUno{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    /* Alineacion botones formulario */
    .alineacionEnviar{
        border-color: rgb(94, 212, 248);
        padding: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .alineacionBorrar{
        border-color: rgb(94, 212, 248);
        padding: 3%;
        margin-bottom: 5%;
    }
    /* Clases Galeria */
    /* Titulo */
    .mainGaleria{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .sectionGaleriaUno{
        display: flex;
        flex-direction: column;
    }
    .sectionGaleriaDos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionGaleriaTres{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionGaleriaCuatro{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sectionGaleriaCinco{
        display: flex;
        flex-direction: column;
    }
    .sectionGaleriaSeis{
        display: flex;
        flex-direction: column;
        align-items:center;
        }
    .titulo{
        font-size: 50px;
    }
    /* Borde Imagenes */
    .borde{
        border: solid 3px rgb(94, 212, 248);
        margin-top: 1%;
        margin-bottom: 0.5%;
        margin-left: 0%;
        width: 95%
    }
    /* Parrafo Imagenes */
    .parrafo{
        font-size: 30px;
        font-weight: 600;
    }
    /* Clases Servicios */
    .articleServicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* Titulo Servicios */
    .tituloservicio{
        text-align: center;
        font-size: 40px;
        font-weight: 800;
        margin-top: 1%;
    }
    /* Descripcion */
    .descripcion{
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 0.2%;
        font-size: 20px;
    }
    /* Imagen con resultado final */
    .imagen{
        margin-top: 0.2%;
        margin-bottom: 1%;
        margin-left: 0%;
        border: solid 3px rgb(94, 212, 248);
    }
}

/* Animaciones, Transformaciones y Transiciones */
.animacionTitulo{
    animation-name: titulo;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
.animacionLogo{
    animation-name: logo;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

/* KeyFrames */
@keyframes titulo {
    from { transform: translate(-2000px);
        opacity: 0;
    }
    to { transform: translate(0);
        opacity: 1;
    }
}
@keyframes logo {
    from { transform: translate(2000px);
        opacity: 0;
    }
    to { transform: translate(0);
        opacity: 1;
    }
}