*{
    margin: 0;
    padding: 0;
}
/* Estilos al Header */
header{
    background-color: rgb(94, 212, 248);
}
/* Titulo */
h1{
    color: rgb(185, 8, 255);
}
/* Estilos al Nav */
nav{
    background-color: rgb(205, 75, 245);
}
/* Estilos al Footer */
footer{
    background-color: rgb(94, 212, 248);
}
footer h2{
    color: rgb(185, 8, 255);
}
.hover:hover{
    background-color: rgb(94, 212, 248);
}

/* Animaciones, Transformaciones y Transiciones */
.animacionTitulo{
    animation-name: titulo;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.animacionLogo{
    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

/* KeyFrames */
@keyframes titulo {
    from { transform: translate(-2000px);
        opacity: 0;
    }
    to { transform: translate(0);
        opacity: 1;
    }
}
@keyframes logo {
    from { transform: translate(2000px);
        opacity: 0;
    }
    to { transform: translate(0);
        opacity: 1;
    }
}